*{
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
}

h1{
    font-family: all-time;
    margin-top: 50px;
    text-transform: capitalize;
    word-spacing: 15px;
    letter-spacing: 2px;
}

.widht{
    height: 500px;
    width: 1100px;
    border: 5px solid #8e44ad;
    margin-top: 40px;
    margin-bottom: 40px;
}

img{
    top: 109px;
    width: 447px;
}

.first{
    position: relative;
    animation-name: first;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

@keyframes first{
    0%{
        left: 0;
        top: 0;
    }

    25%{
        left: 900px;
        top: 0;
    }

    50%{
        left: 990px;
        top: 400px;
    }

    75%{
        left: 0;
        top: 400px;
    }

    100%{
        left: 0;
        top: 0;
    }
}

.second{
    display: flex;
    justify-content: right;
    position: relative;
    animation-name: second;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

@keyframes second{
    0%{
        right: 0;
        top: 0;
    }

    25%{
        right: 980px;
        top: 0;
    }

    50%{
        right: 980px;
        top: 500px;
    }

    75%{
        right: 0;
        top: 400px;
    }

    100%{
        right: 0;
        top: 0;
    }
}

.third{
    justify-content: flex-end;
    align-items: flex-end;
    height: 89%;
    position: relative;
    animation-name: third;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}


@keyframes third{
    0%{
        right: 0;
        bottom: 0;
    }

    25%{
        right: 960px;
        bottom: 0;
    }

    50%{
        right: 960px;
        bottom: 400px;
    }

    75%{
        right: 0;
        bottom: 400px;
    }

    100%{
        right: 0;
        bottom: 0;
    }
}

.fourth{
    justify-content: flex-start;
    position: relative;
    animation-name: forth;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-timing-function: ease;
    animation-fill-mode: inherit;
}


@keyframes forth{
    0%{
        left: 0;
        bottom: 40px;
    }

    25%{
        left: 570px;
        bottom: 40px;
    }

    50%{
        left: 580px;
        bottom: 450px;
    }

    75%{
        left: 0;
        bottom: 450px;
    }

    100%{
        left: 0;
        bottom: 40px;
    }
}